*,
html {
    padding: 0px;
    margin: 0px;
}
.container {

}
.navbar {
    background-color: black;
    height: 100px;
    width: 100%;
}
.ul-navbar {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 10vh;
}
.li-navbar {
    list-style-type: none;
    padding: 20px;
    color: #fff;
    font-size: 30px;
    margin: 5px;
}
.li-navbar:hover {
    background-color: red;
}
.a-navbar {
    color: #fff;
    text-decoration: none;
    transition: .2s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
    font-weight: 800;
}
.container-conten {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.a-conten {
    width: 720px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 80px;
}
.img-conten {
    width: 50%;
    height: 50%;
}
.container-footer {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.h1-conten {
    font-size: 50px;
    color: white;
}